<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update form</title>
</head>
<body>
<header>
    <h1 th:text="${board.name}"></h1>

    <p th:text="|현재 로그인 계정 : ${current_member}|"></p>
    <a href="/logout">로그아웃</a><br>
    <a href="/user/all">전체 게시판 목록</a><br>
</header>

글 수정.<br>

<form th:action="@{/user/{name}/{id}/update(name=${username},id=${postid})}" method="post">
    제목<br>
    <input th:value="${title}" type="text" name="title" required><br>

    내용<br>
    <textarea th:text="${content}" name="content" required></textarea><br>

    <button type="submit">submit</button>
</form>

<a th:href="@{/user/{name}/{id}(name=${username},id=${postid})}">취소</a>

</body>
</html>